<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/Content/css/styles.css">
    <!-- Compiled and minified JavaScript -->
    <script src="/Content/js/jquery-3.1.1.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="/Content/js/scripts.js" charset="utf-8"></script>
    <title>AirlineApp</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper green lighten-3">
            <a href="/" class="brand-logo">FlightTracker</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/add-cities">Add City</a></li>
                <li><a href="/add-flights">Add Flight</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row body-row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
