@{
    Layout = "Shared/_Layout.cshtml";
}
<form class="" action="/add-cities" method="post">
    <input type="text" name="city-name" placeholder="add city name">
    <button class="btn" type="submit" name="button">Submit</button>
</form>
